apiVersion: v1
kind: Secret
metadata:
  name: laravel-moris-secrets
  namespace: laravel-moris
  labels:
    app: laravel-moris
type: Opaque
stringData:
  APP_KEY: "base64:xxx"
  FILESYSTEM_DISK: "public"
  GITHUB_CLIENT_ID: xxx
  GITHUB_REDIRECT_URI: https://xxxx/auth/github/callback
  GITHUB_CLIENT_SECRET: xxx
